<div class="overlay" *ngIf="visible" (click)="onOverlayClick()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <div class="dialog-header">{{ header }}</div>
    <div class="dialog-body">{{ message }}</div>
    <div class="dialog-footer">
      <button *ngIf="leftButtonText" class="left-btn" (click)="onLeftClick()">
        {{ leftButtonText }}
      </button>
      <button *ngIf="rightButtonText" class="right-btn" (click)="onRightClick()">
        {{ rightButtonText }}
      </button>
    </div>
  </div>
</div>
